# ASP.NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Rider
.idea/

# NuGet
packages/
*.nupkg
*.paket.template

# User-specific files
*.DS_Store
Thumbs.db

# .NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

**/appsettings.json
**/appsettings.development.json